
<div class="caption">
  <img decoding="async" id="thumbnail"
       src="https://media.istockphoto.com/photos/3d-illustration-of-virtual-human-on-technology-background-picture-id1181533674?s=612x612">
  <h1>Welcome, visitor!</h1>
  <h1>I am an AI Chat-bot developed by <a href="#">HasBotAI</a></h1>
 </div>
 <div class="container">
  <div class="card">
    <div class="chat-list" #chatListContainer> 
      <div *ngFor="let message of botResponse.previousMessages">
       
        <div *ngIf="message?.role?.label != 'system'" class="chat-item"
             [ngClass]="{'right' : message?.role?.label === 'user', 'left': message?.role?.label == 'assistant'}">
          <!--<img id="avatar" [src]="item?.user?.profileImageUrl">-->
          <p class="message-body">{{message?.content}}</p>
        </div>

      </div>
    </div>
    <div class="chat-footer">
      <input matInput id="chat-textarea" [(ngModel)]="userPrompt" required>
      <button id="send-button" (click)="this.send()" [disabled]="userPrompt === ''">
        send
      </button>
    </div>
  </div>
 </div>
 <div class="caption">

  <select id="context-area" class="form-control" [(ngModel)]="area" (click)="setArea()" >
    <option value="login">Login</option>
    <option value="meetings">Meetings</option>
    <option value="sm">Secure Messages</option>
    <option value="signing">Signing</option>
  </select>
<!-- 
  <button id="clear-button" (click)="clearConversation()" >
    clear conversation
  </button> -->
 </div>
