

<!-- messages
<div class="message from">
   hello
</div>  

<ng-container *ngFor="let message of botResponse.PreviousMessages">
  
  <div class="message" *ngIf="message.role.label != 'system'"
       [ngClass]="{ 'from': message.role.label === 'assistant', 'to': message.role.label === 'user' }">
    {{ message.content }}
  </div>
</ng-container>

<label *ngIf="messages.length == 0; else dialogInfo" for="nameField">Your message</label>
<input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text">
<button (click) ="sendMessage2()">Send</button>
<ng-template #dialogInfo>
  <span [className]="'float-right'">Total messages: {{messages.length}}</span>
</ng-template>
-->
<div class="caption">
  <img decoding="async" id="thumbnail"
       src="https://media.istockphoto.com/photos/3d-illustration-of-virtual-human-on-technology-background-picture-id1181533674?s=612x612">
  <h1>Welcome, visitor!</h1>
  <h1>I am an AI Chat-bot developed by <a href="#">HasBotAI</a></h1>
 </div>

 {{botResponse.lastMessage}}
 <div class="container">
  <div class="card">
    <div class="chat-list" #chatListContainer> {{botResponse.lastMessage}}
      <div *ngFor="let message of botResponse.PreviousMessages">
 {{botResponse.lastMessage}}
 {{message.content}}ssssssssssss
        <div class="chat-item"
             [ngClass]="{'right' : message?.role?.label == 'user', 'left': message?.role?.label != 'assistant'}">
          <!--<img id="avatar" [src]="item?.user?.profileImageUrl">-->
          <p id="message-body">{{message?.content}}</p>
        </div>
      </div>
    </div>
    <div class="chat-footer">
      <input matInput id="chat-textarea" [(ngModel)]="userPrompt" required>
      <button id="send-button" (click)="this.send()" [disabled]="userPrompt === ''">
        send
      </button>
    </div>
  </div>
 </div>
 <div class="caption">
  <button id="clear-button" (click)="clearConversation()" >
    clear conversation
  </button>
 </div>
